{% for vrf in services.l3vpn %}
vrf instance {{ vrf.name }}
!
ip routing vrf {{ vrf.name }}
ipv6 unicast-routing vrf {{ vrf.name }}
!
{% for interface in vrf.interfaces %}
interface {{ interface.name }}
  vrf {{ vrf.name }}
  !
  exit
{% endfor %}
!
{% endfor %}