{% include "include/aaa.j2" %}

{% include "include/base.j2" %}

{% include "include/management.j2" %}

{# {% include "include/snmp.j2" %}
!
{% if netflow %}
{% include "include/netflow.j2" %}
{% endif %}
!
{% if telemetry_enable %}
{% include "include/telemetry.j2" %}
{% endif %}
!
{% if Auth %}
{% include "include/AuthenticationKey.j2" %}
{% endif %} #}