Inventory ID,Host name,Data gateway,MAC address,Encryption,UUID,Serial number,Connectivity reachability check,Syslog format,Product type,Device Type,Credential Profile,Admin State,Connectivity Type,Connectivity IP,Connectivity port,Connectivity timeout,Connectivity encoding,SNMP disable trap check,Tags,Software type,Software version,Product family,Product series,Manufacturer,Longitude,Latitude,Altitude,Building,Street,City,State,Country,Region,Zip,ISIS system ID,OSPF router ID,TE router ID,IPv6 router ID,Router loopback,Vrf,Source interface ,Capability,Provider name,Provider type,Provider node Id,Architecture,Cli cache enabled,Opt out MDT config
{% for host in groups['ProviderEdge'] %}
,{{ hostvars[host].inventory_hostname }},,,,,,REACH_CHECK_ENABLE,RFC_5424,,NODE_TYPE_ROUTER,rbb_lab,DOWN,NETCONF;SNMP;SSH;GNMI,{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }},830;161;22;57400,30;30;30;31,;;;JSON,;false;;,ios-xr;gnmi;cli;snmp;reach-check;te-tunnel-id;clock-drift-check;mdt,,,,,,,,,,,,,,,,49.0011.0001.0000.{{ '%04d' % (hostvars[host].id) }},,{{ hostvars[host].loopbackPrefix }}1.{{ hostvars[host].id }},,,Mgmt-intf,,SNMP;GNMI;YANG_CLI;YANG_MDT,nso,ROBOT_PROVIDER_NSO,,undefined,undefined,FALSE
{% endfor %}
{% for host in groups['Core'] %}
,{{ hostvars[host].inventory_hostname }},,,,,,REACH_CHECK_ENABLE,RFC_5424,,NODE_TYPE_ROUTER,rbb_lab,DOWN,NETCONF;SNMP;SSH;GNMI,{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }};{{ hostvars[host].ansible_host }}{{ hostvars[host].management_prefix }},830;161;22;57400,30;30;30;31,;;;JSON,;false;;,ios-xr;gnmi;cli;snmp;reach-check;te-tunnel-id;clock-drift-check;mdt,,,,,,,,,,,,,,,,49.0011.0001.0000.{{ '%04d' % (hostvars[host].id) }},,{{ hostvars[host].loopbackPrefix }}1.{{ hostvars[host].id }},,,Mgmt-intf,,SNMP;GNMI;YANG_CLI;YANG_MDT,nso,ROBOT_PROVIDER_NSO,,undefined,undefined,FALSE
{% endfor %}